<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <!-- semantic-ui -->
    <script src="/semantic.min.js"></script>
  </head>
  <body>

    <a href="/">Return Home</a>
    <hr>

    {{{body}}}

  </body>
</html>
